{% extends 'base.html' %}
{% from "_rating.html" import show_rating %}
{% set active_page = 'home' %}
{% block content %}
  <div class="row">
    <div class="col-lg-3">
      <div class="my-3">
        <form action ="{{ url_for('home') }}" method="GET">
          {% for field in form %}
          {% if field.type != "SubmitField" %}
          <div class="form-group">
            {{ field.label }}
            {{ field(class="form-control") }}
          </div>
          {% endif %}
          {% endfor %}
          {{ form.submit(class="btn btn-primary form-control") }}
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row my-4 card-wrapper">
        {% if recipes %}
        {% for recipe in recipes %}
        <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="my-3">
              <div class="embed-responsive embed-responsive-16by9">
                <a href="#">
                  <img class="card-img-top embed-responsive-item" src="{{ url_for('static', filename='images/cocktail-logo.png') }}" alt="">
                </a>
              </div>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">{{ recipe.name }}</a>
                {{ show_rating(recipe.rating) }}
              </h4>
              {% for ingredient in recipe.ingredients %}
              <p class="card-text my-0">
              <a href="{{ url_for('ingredient', ingredient_id=ingredient.id) }}">{{ ingredient.name }}</a>
              </p>
              {% endfor %}
              <hr>
              <!-- <p class="card&#45;text">{{ recipe.directions }}</p> -->
              <!-- <p class="card&#45;text">{{ recipe.notes }}</p> -->
            </div>
            <div class="card-footer">
              <small class="text-muted">
                {{ recipe.category }}, page {{ recipe.page_num }}
              </small>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
          <h2 class="offset-lg-1 my-3">No matching recipes found.</h2>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
