<doctype html>
<head>
    <title>RecipeFind</title>
</head>

<h2>RecipeFind Database</h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {% for field in form %}
      <tr>
        {% if field.type != "BooleanField" %}
          <td>{{ field.label }}</td>
          <td>{{ field }}</td>
        {% else %}
          <td></td>
          <td>{{ field }} {{ field.label }}</td>
          <br>
        {% endif %}
      </tr>
    {% endfor %}

  </dl>
  <p><input type=submit value=Search>
</form>

<p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if recipes %}
  {% for recipe in recipes %}
  <h3>{{ recipe.name }} ({{ recipe.category }}, page {{ recipe.page_num}})</h3>
  <ul>
  {% for ingredient in recipe.ingredients %}
    <li>{{ ingredient.name }}</li>
  {% endfor %}
  </ul>
  <p style="margin-left: 40px">
    {{ recipe.directions }}
  <p style="margin-left: 40px">
    {{ recipe.notes }}
  {% endfor %}
{% endif %}
