{% extends 'base.html' %}
{% from "_rating.html" import show_rating %}

{% block title %}
{{ ingredient.name if ingredient else 'Ingredient'}} -
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3 my-4">
    <form method="POST" name="editingredient" action="{{ url_for('ingredient', ingredient_id=ingredient.id) }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.status.label }}
        {{ form.status(class="form-control") }}
        <br>
        {{ form.delete }}
        {{ form.delete.label }}
        <hr>
        {{ form.submit(class="btn btn-primary form-control") }}
      </div>
    </form>
  </div>
  <div class="col-lg-9">
    {% if ingredient %}
    <div class="card mt-4">
      <div class="embed-responsive embed-responsive-16by9">
        <img class="card-img-top embed-responsive-item" src="{{ url_for('static', filename='images/cocktail-logo.png') }}" alt="">
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ ingredient.name }}</h3>
        <p class="card-text">{{ ingredient.category }}</p>
        <hr>
        {% if ingredient.recipes %}
        <br>
        <h5>Recipes:</h5>
        {% for recipe in ingredient.recipes|sort(attribute='name') %}
        <p class="card-text my-0">
        <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">
          {{ recipe.name }}
          {{ show_rating(recipe.rating) }}
        </a>
        </p>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    {% else %}
    <h1 class="offset-lg-3">Invalid ingredient ID.</h1>
    {% endif %}
  </div>
</div>
{% endblock %}
